div.navigation
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div.li
{
    float: left;
}

div.li a
{
    display: block;
    color: #0A0F0D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.li a:hover
{
    background-color: #3CBBB1;
}

.active
{
    background-color: #EE4266;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
    align-items: center;
}

.video-item video {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
}

body
{
    margin-left: 150px;
    margin-right: 150px;
    font-family: monospace;
    background-color: #C4CBCA;
    color: #0A0F0D;
}

h1 
{
    background-color: transparent;
    text-align: center;
}
    
h2 
{
    background-color: transparent;
    text-align: center;
}
  
h3
{
    background-color: transparent;
    text-align: left;
}

p 
{
}

footer
{
    text-align: end;
    margin-top: 50px;
}