
.container {
    width: auto; /* Adjust width as needed */
    max-width: 1200px; /* Optional: maximum width for larger screens */
}

.video-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Ensures that table columns are of equal width */
    background-color: #0A0F0D; /* Optional: background color for table */
    border-radius: 8px; /* Optional: rounded corners for table */
}

.video-table td {
    padding: 8px;
    border: 1px solid #2A1E5C;
    text-align: center;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-caption {
    margin-bottom: 8px; /* Space between the caption and the video */
    font-weight: bold;
    font-size: 1em;
    color: #3CBBB1;
}

.video-table video {
    width: 100%; /* Ensures the video fits within the table cell */
    height: auto;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .video-table {
        font-size: 0.9em; /* Slightly reduce font size for smaller screens */
    }
}

@media (max-width: 480px) {
    .video-table td {
        display: block;
        width: 100%; /* Stacks cells vertically on very small screens */
    }

    .video-caption {
        font-size: 0.9em; /* Adjust caption font size for smaller screens */
    }
}

body
{
    margin-left: 150px;
    margin-right: 150px;
    font-family: monospace;
    background-color: #0A0F0D;
    color: #C4CBCA;
}

h1 
{
    background-color: transparent;
    text-align: center;
    font-weight: bold;
}
    
h2 
{
    background-color: transparent;
    text-align: center;
    font-weight: bold;
}
  
h3
{
    background-color: transparent;
    text-align: left;
    font-weight: bold;
}

p 
{
    font-size: x-small;
    color: #EE4266;
}
